body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:110%;
  background-color: #ecdfe2;
}

header {
  font color: ;
  text-align: center;
  background-color: rgb(32, 30, 30);
}

footer {
  background-color: #35332e;
  text-align: center;
  height: 150px
  width: 200px
}

article {
  background-color: rgb(32, 30, 30);
}

aside {
  background-color:rgb(35, 35, 36)
  height: 100Spx
  width: 200px
  
}

.icon {
  width: 3rem;
height: auto;
border-radius: 50%;
}

#sidebar {border: height= 100%;
background-color: rgb(21, 37, 16);
margin: 1rem;
float: left;
}

h3{ 
  color: black;
  font-size: medium;
}

h1{
  color:white
}
#slogan{color: white;

} 
.nav-menu{margin-left: 0;
width:50% }

section{float:none;
margin-left:50% ;}

main{float:none;
border:none;
margin-right: 50%;}