body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #ecdfe2;
}

header {
  text-align: center;
  background-color: rgb(32, 30, 30);
}

footer {
  background-color: #35332e;
  text-align: center;
  height: 150px
  width: 200px
}

article {
  background-color: rgb(37, 37, 44);
}

aside {
  background-color
}

section {

}

