body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:110%;
  background-color: white;
}

header { 
  text-align: center;
  background-color: rgb(32, 30, 30);

}

footer {
  background-color: #35332e;
  text-align: center
}

article {
  background-color: rgb(32, 30, 30);
  margin-right: 150%;
  border:so%;
  padding:backdrop;
  
}

aside {
  background-color:
  width: 50%
  
}

.icon {
  width: 3rem;
height: auto;
border-radius: 50%;
margin: 2.5px;
}

#sidebar {border: height= 100%;
  color:white;
background-color: rgb(21, 37, 16);
margin: left;
border: 10px;
float:left;
padding: 1rem;
border:solid
}

h3{ 
  color: black;
  font-size: medium
}

h1{
  color:white
}

#slogan{color: white

} 
.nav-menu{
  margin-left: 0;
width:50%;
list-style-type: none

}

section{float:none;margin-left: 25%;

}

main{
  float:none;
border:none;
margin-right: 50%;
justify-content: stretch
}
#codespacelogo{ border:solid;border-radius: 50%;
  border-color: orangered;
}

.contact{color:white

}

